services:
  postgres:
    image: postgres:latest
    container_name: rap-auth-postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - rap-auth-postgres-data:/var/lib/postgresql/data

volumes:
  rap-auth-postgres-data:
